%p#notice= notice

- @projects.each do |project|
  .index_row.clearfix
    %h2.todo_list_title= link_to project.title, project
    %p.todo_list_sub_title= project.description

.links
  = link_to 'New Project', new_project_path
